
.login {
    &-container  {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    &-background {
        background: #d2cbcb52;
        background-size: 400% 400%;
    }
}