@import "button";
@import "login-form";
@import "login-page";
@import "checkbox";
@import "responsive-mixin";


@font-face {
  font-family: 'Gotham-med';
  src: url('../font/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham-light';
  src: url('../font/GothamLight.ttf') format('truetype');
}


html {
    font-size: 62.5%;
    font-family: Gotham-med;

    @include mQuery(phone) {
       font-size: 46%;
    }
}

body {
    margin: 0;
    position: fixed;
    width: 100vw;
}

